@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui";

/* Jua 폰트 - 게임 UI용 */
html,
body {
	font-family: 'Jua', sans-serif;
	font-size: 14px; /* 360 기준 */
}

/* Jua 폰트 baseline 보정 */
button,
.btn,
[class*='button'] {
	line-height: 1;
	padding-top: 0.1em;
}

/* Jua 폰트 baseline 보정 */
button,
.btn,
[class*='button'] {
	line-height: 1;
	padding-top: 0.15em;
}

:root {
	--color-primary: oklch(49% 0.27 292.581);
	--color-primary-content: oklch(90% 0.1 292.581);
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(98% 0 0);
	--color-base-300: oklch(95% 0 0);
	--color-base-content: oklch(21% 0.006 285.885);
	--color-secondary: oklch(75% 0.183 55.934);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent: oklch(77% 0.152 181.912);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
}
